@model List<Offshore3.BugTrack.ViewModels.CommentViewModel>


@foreach (var c in Model)
{
    @c.Content 
    <br/>
    <span class="addInfo">
        @c.Commentator 
        <span id="time">
        @Convert.ToString(c.AddTime)
            </span>
    </span>
    <br/>
}


<style>
    #time{ margin-left: 10px;}
    .addInfo{ font-size: 10px;color: blue;padding-right: 20px;float: right;}
</style>
